body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  background-color: rgb(185, 145, 221);
  height: 15vh;
  /* height: 150px; using calc for header and footer*/
  color: white;
}

main {
  min-height: 70vh;
  /* min-height: calc(100vh - 150px); */
}

a {
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 1rem;
}
