* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  background-color: rgb(185, 145, 221);
  height: 15vh;
  /* height: 150px; using calc for header and footer*/
  color: white;
}

main {
  min-height: 70vh;
  /* min-height: calc(100vh - 150px); */
}

a {
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 1rem;
}

.cards {
  /* max-width: 1200px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: white;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.39);
  text-align: center;
}

.card img {
  /* object-fit: cover; */
  object-position: top;
  min-height: 150px;
  padding: 1rem;
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: grayscale(70%);
}

.card h3 {
  width: 100%;
  background-color: rgb(19, 52, 59);
  border-radius: 0 0 10px 10px;
  color: white;
  font-style: bold;
  padding: 1.2rem;
  text-transform: capitalize;
}

.cards div:hover {
  transform: scale(105%);
}

.cards div:hover img {
  filter: none;
}

.cards div:hover h3 {
  background-color: rgba(31, 127, 148);
}
